.progressBar {
  width: 100%;
  position: relative; }

.bar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 2px solid #bcdce5;
  border-radius: 2px;
  box-sizing: border-box; }

.bar-svg .path {
  stroke: #bcdce5;
  transition: all 0.3s; }
  .bar-svg .path.highlight-overflow {
    stroke: #e55154; }

.bar-text {
  z-index: 10;
  padding: 10px 20px;
  font-size: 14px; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
